.about img{
    width: 800px;
    height: 20%;
}
.about{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 20px;
}
.about h1{
    color: brown;
    justify-content: flex-start;
    font-size: 2rem;
    
}
.cardabout {
    display: inline-block;
    width: 400px;
    padding: 20px;
    height: 380px;
    margin: 10px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px blue;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  .cardabout:hover{
    box-shadow: 0 4px 8px darkblue;
  }
  @media screen and (max-width: 768px){
    .about{
      flex-direction: column;
    }
  }