/* Sidebar.css */

.sidebar {
  flex: 1;
  padding: 10px;
}

.comment-list {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  width: 100%;
}

.comment-row {
  margin-bottom: 10px;
}

.comment {
 
  padding: 10px;
  border-radius: 4px;
}

.add-comment {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.comment-input {
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.add-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar {
    order: 2;
    margin-top: 20px;
  }
}
