.footer{
  
    background:darkblue;
    color: white;
    border-radius: 13px;
}
.footer p{
    align-items: center;
    justify-content: center;
    display: flex;
}
.bottom{
    padding-top: 1rem;
    text-align: start;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.bottom div{
    display: flex;
    flex-direction: column;
}
.bottom h4{
    font-size: 1.2rem;
    padding: 1rem 0 .8rem 0;

}
.bottom p{
    text-decoration: none;
    color: white;
    padding-bottom: 1rem;
    font-size: 1.1rem;
}
.bottom a{
    text-decoration: none;
    color: white;
    padding-bottom: 1rem;
    font-size: 1.1rem;
}
@media screen and(max-width:850px){
    .footer{
        padding: 4rem 2rem;

    }

    .bottom div{
        width: 50%;
    }
}