.navbar {
    background-color:darkblue;
    /* color: #fff; */
    padding: 10px 10px;
    border-radius: 10px;
    width: 97%;
    margin: 10px 15px;
    
   
  }
  
  .navbar-container {
  
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
  }
  
  .navbar-logo img {
      width: 50px;
      height: 50px;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content:center;
  }

  
  .menu-icon {
    cursor: pointer;
    margin: 3px 0;
    visibility: hidden;
   
  }
  .close-icon{
    visibility: hidden;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .nav-item {
    position: relative;
    margin-right: 1rem;
    font-size: 13PX;
    text-decoration: none;
    color: #fff;
    
  }
  .nav-item button{
    width: 100%;
    padding: 10px;
  }
  
  
  .nav-link {
    color:white;
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s ease;
    font-size: 20px;
  }
  .nav-link:hover{
    text-decoration: underline;
    color: brown;
  }
  
  .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
  .nav-item li{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
 
  
  @media screen and (max-width: 768px) {
    .nav-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: -50%;
      background-color:darkblue;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    .navbar{
      width: 100%;
      margin-top: 0;
    }
  
    .nav-menu.open {
      opacity: 1;
      visibility: visible;
    }
  
    .nav-item {
      margin-left: 0;
      margin-bottom: 1rem;
      text-align: center;
      
    }
  
    .nav-link {
      padding: 1rem;
      text-align:top;
    }
  
  
    .menu-icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      visibility: visible;
    }
    .close-icon{
      visibility: visible;
    }
    .navbar-logo img {
      display:flex ;
      align-items: center;
      justify-content: center;
    }
  }
  